#ec-bubble {
    background-color: lightgray;
    border-radius: 6px;
    box-shadow: 0 0 20px 5px #888;
    color: black;
    left: 0;
    padding: 7px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: fit-content;
    z-index: 10000;
}

#ec-bubble-text {
    background-color: lightgray;
    color: black;
    float: left;
    font-family: monospace;
    font-size: 10pt;
    margin: 0;
}
