#ec-bubble {
    background-color: whitesmoke;
    border: 1px solid darkgray;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px #888;
    font-family: "Open Sans","Lucida Grande",sans-serif;
    font-size: 10pt;
    left: 0;
    padding: 7px;
    position: absolute;
    top: 0;
    width: 220px;
    visibility: hidden;
    z-index: 10000;
}

#ec-bubble-text {
    float: left;
}
